<div class="container-lg">
  <h1 class='mb-5'>Collections found:</h1>

  <div class="row justify-content-center row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% @collections.each do |collection| %>
      <div class="box-collection box-result mb-5 p-5">
        <h4><%= collection.title %> by <%= collection.user.username %></h4>
        <%= link_to "See collection", user_collection_path(collection.user, collection), class:'link-collections' %>
      </div>
    <% end %>
  </div>
</div>
