<h1>Your Collection: <%= @collection.title %></h1>
<div>
  <% if @wines.empty? %>
    <p>No wines in collection</p>
  <% else %>
  <% @recommended = @wines %>
  <%= render 'shared/recommendations', collections: @collections %>
  <% end %>
</div>
