<div class="container">
  <h1>Results</h1>
  <%= image_tag "28.svg", class: 'scribble-sm' %>

  <%= render 'shared/personalities'  %>

  <div class='divider mt-5 mb-5'>
    <% 'Divider' %>
  </div>

  <% if !user_signed_in? %>
    <h3 class='mt-5'>Like what you see?</h3>
    <p>Sign up and see many more recomendations!</p>
     <%= image_tag "30.svg", class: 'scribble-md' %>
    <%= render 'shared/signup', answers: @answers %>
  <% end %>
</div>
