<div class="container">
  <h1>Results</h1>
  <%= image_tag "28.svg", class: 'scribble-sm' %>

  <h2>The Connoisseur</h2>

  <p>
  You have quite a delicate palette. You have specific preferences that are mostly on the expensive side, such as raw seafood and lobster. Your high standards can make you a bit delicate for others to manage, and if ever you are put in a situation that isn't in your favor, you might leave a bad taste in people's mouths. But this quality is still necessary for helping other people explore finer tastes, and your adherence to quality is something that will always be admirable for those who are yet to discover more of the world.

  </p>

  <%= render 'shared/recommendations' %>

  <div class='divider mt-5 mb-5'>
    <% 'Divider' %>
  </div>

  <% if !user_signed_in? %>
    <h3 class='mt-5'>Like what you see?</h3>
    <p>Sign up and see many more recomendations!</p>
     <%= image_tag "30.svg", class: 'scribble-md' %>
    <%= render 'shared/signup', answers: @answers %>
  <% end %>
</div>
