<div class="container">
  <h1>Show</h1>

  <h3>User Wine Lists</h3>

  <% @collections.each do |collection| %>
    <div>
      <%= collection.title %>
    </div>
  <% end %>

  <%= link_to "Create a new Wine List", new_collection_path %>
</div>
