<h1>Show</h1>

<h3>User Wine Lists</h3>
<ul>
  <% @collections.each do |list| %>
    <% if @user == list.user %>
      <%= list.id %> <%= list.title %>
    <% end %>
  <% end %>
</ul>

<%= link_to "Create a new Wine List", new_collection_path %>

<div>
  <h3>Recommendations</h3>
  <%#= cl_image_tag @recommend_one.photo.key %> <br>
  <%#= @recommend_one.name %> <br>
  <%#= cl_image_tag @recommend_two.photo.key %> <br>
  <%#= @recommend_two.name %> <br>

  <%= render 'shared/recommendations' %>
</div>
