// Specific CSS for your home-page
.home-description-cards {
  margin: 2rem
}

.home-description {
  border: 1px solid $black;
  padding: 2rem;
  position: relative;
  width: 271px;
}

.home-description > p {
  margin: 0;
}

.home-doodle-1 {
  position: absolute;
  left: -32px;
  top: -24px;
  transform: rotate(-10deg);
  z-index: 1;
}

.home-doodle-2 {
  position: absolute;
  right: -50px;
  top: -31px;
  z-index: 1;
}

.home-doodle-3 {
  position: absolute;
  left: -55px;
  bottom: 0px;
}
