.list {
  display: flex;
  border: 1px solid $black;
  border-radius: 15px;
  padding: 7px;
  align-items: center;
}

.my-collection {
  display: flex;
  justify-content: center;
}

.list > a {
  text-decoration: none;
  color: $black;
}

.list > button {
  padding: 0;
  border: none;
}

.wine-title-info {
  color: black;
}

.carousel-caption {
  text-shadow: 1px 1px white;
}

.modal-body {
  margin: 2rem 5rem;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-body > p > span {
  font-weight: bolder;
}

.profile-avatar {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.div-avatar {
  width: 100px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}

.plus {
  left: 74px;
  bottom: 0;
}
