.content {
  height: 49vh;
}

.slide-height {
  height: 49vh;
}

.img-quizz {
  height: 120px;
}

.scribble-quizz-1 {
  position: absolute;
  width: 42px;
  bottom: 0px;
  right: -35px;
  transform: rotateZ(90deg);
}

.scribble-quizz-2 {
  position: absolute;
  width: 61px;
  top: 0px;
  left: -3px;
}

.form-quizz {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  background-color: white;
}

.form-check {
  width: 50%;
  margin: auto;
  text-align: start;
  margin-bottom: 0.5rem;
}

.quiz-headers {
  position: relative;
  width: 296px;
  left: 50%;
  transform: translateX(-50%);
}

.col-form-label {
  font-weight: bolder;
  padding-bottom: 30px;
}
