<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ad-800/WineTime"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
