<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ad-800/WineTime"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Images made with <a href="https://openai.com/dall-e-2/">DALL-E</a> <i class="fas fa-heart"></i>
  </div>
</div>
