.modal-body {
  color: black;
  overflow: inherit;
}

.show-img {
  height: 6vh;
  object-fit: contain;
  width: 62px;
}

.wine-show {
  height: 20vh;
}

.show-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 60px;
  max-width: 35rem;
}

.show-specs {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 125px;
}

.show-specs > p {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.modal-close-button > .btn-close {
  padding: 1.25em 1.25em;
}

.modal-title-custom > .text-left {
  max-width: 35rem;
}
